/* === CSS RESET === */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* --------------------- */
/* --- GLOBAL STYLES --- */
/* --------------------- */

/* COLOR VARIABLES */
$gray-dark:rgb(20, 26, 25);
$gray-medium:rgb(148, 145, 133);
$gray-light:rgb(242, 247, 247);
$golden:rgb(121, 110, 73);

// MIXINS

@mixin text($font-size,$line-height){
	font-size: $font-size;
	line-height: $line-height;
} // @include text(2rem,2.2rem)

// MAPS

$headings:(
	'heading-1':5rem,
	'heading-2':4rem,
	'heading-3':3rem,
	'heading-4':2rem,
	'heading-5':1.5rem,
	);

body {
	color: red; /* debug */
	background-color: $gray-dark;
}

	/* === FONT SIZES === */


	h1, .text-xl {
		@include text(map-get($map:$headings,$key:'heading-1'),5.5rem);
		margin: 1rem 0;
	}

	h2 {
		@include text(map-get($map:$headings,$key:'heading-2'),4.4rem);
	}

	h4 {
		@include text(map-get($map:$headings,$key:'heading-4'),2.2rem);
	}

	h5, .text-md {
		@include text(map-get($map:$headings,$key:'heading-5'),2rem);
	}

	.text-sm {
		@include text(1rem,1.5rem);
	}


	/* === COLORS === */

		/* MEDIUM GRAY */
		h1, h2, h3, h4, h5, p,
		.navigation__item,
		.form__textarea,
		.form__input {
			color: $gray-medium;
		}

		.dividerTop,
		.dividerBottom {
			border-color: $gray-medium;
		}

		/* LIGHT GRAY */
		a,
		.currentPage,
		.contacto__input {
			color: $gray-light;
		}
		
		/* GOLDEN */
		a:hover,
		.navigation__item:hover,
		blockquote {
			color: $golden;
		}

	/* === MARGINS === */

		/* Headings and paragraphs */

		h2, h3, h4, p {
			margin: 1rem 0;
		}


	/* DEFAULT PARAGRAPH */

	p {
		font-family: adelle-sans, sans-serif;
		font-weight: 300;
		font-style: normal;
		@include text(1rem,1.3rem)
	    letter-spacing: -.02rem;
	}

	/* LINKS */

	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			text-decoration-thickness: 2px;
		}
	}


	/* DIVIDERS */

	.dividerTop {
		border-width: .1rem;
		border-top-style: solid;
	}

	.dividerBottom {
		border-width: .1rem;
		border-bottom-style: solid;
	}

	/* FLUID IMAGES */

	img.fluid {
		width: 100%;
	}