/* === IMPORT FONTS === */
@import url("https://use.typekit.net/ezt5cpi.css");
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

/* FONT SIZE */
html {
	font-size: 112.5%; /* base font 18px */
}

* {
	font-family: 'Marcellus', serif;
	font-weight: 400;
	font-style: normal;
}