/* === FOOTER === */

		.footer {}
			
			.footer__logo {
				margin-bottom: 2rem;
			}
			.footer__logo img {
				width: 64%;
				padding-left: 2rem;
			}
			
			.footer__navigation,
			.footer__social {
				list-style: none;
			}


			.footer__copyright {
				margin: 0;
			}